html
  head
    meta(charset="utf-8")
    title= title
    
    link(rel="stylesheet", href="/public/css/style.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css")
  body
    header
      h1
        i.fas.fa-home
        |  #{title}
      nav
        a(href="/")
          i.fas.fa-home
          |  Главная
        |  
        a(href="/page")
          i.fas.fa-file
          |  Вторая страница
        |  
        a(href="/about")
          i.fas.fa-info-circle
          |  О нас
        |  
        a(href="/books")
          i.fas.fa-book
          |  Книги
        | 
        
  main
    if title === "Моя страница"
        .welcom-content 
          h2 Добро пожаловать в домашнюю библиотеку!
          p Это веб-приложение для управления вашей коллекцией книг. 

    else if title === 'О нас'
      .about-content
        h2 О проекте "Домашняя библиотека":
        
        .project-info
          .info-card
            h3
              i.fas.fa-book
              |  О проекте
            p Это веб-приложение для управления домашней библиотекой, разработанное на Node.js, Express и Pug.
            
          .info-card
            h3
              i.fas.fa-code
              |  Технологии
            ul
              li Node.js + Express.js
              li Pug (шаблонизатор)
              li Font Awesome иконки
              li JSON база данных
              
          .info-card
            h3
              i.fas.fa-user
              |  Разработчик
            p 
              strong Максим Щербак
            
          .info-card
            h3
              i.fab.fa-github
              |  Исходный код
            p Проект доступен на GitHub:
            a.github-link(href="https://github.com/SherbakMaxim3344/Library", target="_blank")
              i.fab.fa-github
              |  ❤️
            p.features
              i.fas.fa-star
              |  Полный исходный код
    else if title === 'Вторая страница'
      .page-content
        h2 Вторая страница
        p МБ когданибудь чтото появится

    script(src="/public/js/script.js")